<!DOCTYPE html>

<html lang="en">

<head>
    {% load static %}    
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'core/css/bootstrap.css' %} ">
    <link rel="stylesheet" href=" {% static 'core/css/formulario.css' %} ">
    
    <title>Document</title>
    
    

</head>

<body  style="background: rgb(0, 150, 51);">


  

    {% block contenido %}

    
  
   
    
    {% endblock contenido %}
    
    
</body>

</html>