
{% extends "core/base.html" %}
{% load static %}   
{% block contenido %}


<div class="container ">

    <div class="row">

        <div class="col-12 text-center bg-white rounded-lg shadow p-5 " style="margin-top: 5%;">
  
 
          <img src="{% static 'core/img/LOGO_PCFACTORY.png'%}" alt="" class="IMG_EDIT" >

         
          <div class="mt-5 text-left">

            <form action="" method="POST" >

                {% csrf_token %}

                <span class="font-weight-bold "> INGRESE SU RUT <span class="text-success">*</span></span>
                <input name="REQUEST_RUT" id=""  class="form-control form-control mt-3 mb-3 " type="text" >

                <span class="font-weight-bold "> INGRESE SU NOMBRE <span class="text-success">*</span></span>
                <input name="REQUEST_NOMBRE" id=""  class="form-control form-control mt-3 mb-3" type="text" >

                <span class="font-weight-bold"> INGRESE SU APELLIDO <span class="text-success">*</span></span>
                <input name="REQUEST_APELLIDO" id=""  class="form-control form-control mt-3 mb-3" type="text" >

                <span class="font-weight-bold"> INGRESE SU CORREO <span class="text-success">*</span></span>
                <input name="REQUEST_CORREO" id=""  class="form-control form-control mt-3 mb-3" type="text">

                <span class="font-weight-bold"> INGRESE SU CONTRASEÑA <span class="text-success">*</span></span>
                <input name="REQUEST_CONTRA" id=""  class="form-control form-control mt-3 mb-3" type="text" >


                <button class="btn btn-success" name="FORMULARIO_AGREGAR" id="FORMULARIO_AGREGAR" type="submit">REGISTRAR</button>


            </form>

            
            

          </div>

                
        
         

        </div>
   


        </div>

        

    </div>

   

</div>



{% endblock contenido %}
